.sidebar-area{
    .sidebar-widget{
        .widget-title{
            text-transform: uppercase;
            

            h3{
                font-size: 16px;
                font-weight: 300;
            }
            input{
                border-radius: 0px;
            }
            input:focus{
                box-shadow: none;
                border-color: #555;                
            }

            .list li{
                font-weight: 200;
                font-size: 14px;
                padding: 3px 0px;
            }

            .tags-items{
                a {
                    display: inline-block;
                    color: #FFF;
                    padding: 5px 7px;
                    margin: 5px;
                    background-color: orangered;                    
                }
            }

            .price-search{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;

                input{
                    width: 30%;
                    height: 30px;
                    border: 1px solid #CCC;
                    padding: 0px 20px;
                }

                button{
                    padding: 0px 10px;
                    height: 30px;
                    border: 1px solid #CCC;
                    background-color: orangered;   
                    color: #FFF;
                }
            }
        }
    }
}